table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color:#f5f5f5;
}

h3 {
  border: 0.3rem;
}

#title {
  text-transform: uppercase;
  text-align: center;
  font: Roboto;
  padding: 1rem;
}

.tracklist {
  padding: 1.5rem;
}

#snow-pic {
  height: 600px;
}

#home-pic {
  height: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* #snow-nav {
  color: black;
}

#fever-nav {
  color: orangered;
}

#home-nav {
  color: teal;
} */